<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Nirwana Medical - HTML5 Bootstrap Template">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"><!-- Favicon-->
  <link rel="shortcut icon" href="static/download__1_-removebg-preview.png">

  <link rel="apple-touch-icon" sizes="57x57" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="60x60" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="72x72" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="76x76" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="114x114" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="120x120" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="144x144" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="152x152" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/download__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="192x192" href="static/download__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/download__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/download__1_-removebg-preview.png">
  <link rel="manifest" href="static/assets/favicons/manifest.json">

  <!-- PWA primary color-->
  <meta name="theme-color" content="#03ACF2">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"><!-- Facebook-->
  <meta property="author" content="nirwana">
  <meta property="og:site_name" content="alexstrap.ux-maestro.com">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website"><!-- Twitter-->
  <meta property="twitter:site" content="nirwana.ux-maestro.com">
  <meta property="twitter:domain" content="nirwana.ux-maestro.com">
  <meta property="twitter:creator" content="nirwana">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:image:src" content="static/download__1_-removebg-preview.png">
  <meta property="og:url" content="nirwana.indisains.com/medical">
  <meta property="og:title" content="Medical">
  <meta property="og:description" content="Nirwana Medical - HTML5 Bootstrap Template">
  <meta name="twitter:site" content="nirwana.indisains.com/medical">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="/images/logo-medical.png">
  <meta property="og:image" content="/images/logo-medical.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <title>About </title><!-- Styles-->
  
  <!-- Put the 3rd/plugins css here-->
  <link href="static/assets/css/vendors/normalize.css" rel="stylesheet">
  <link href="static/assets/css/vendors/bootstrap.css" rel="stylesheet">
  <link href="static/assets/css/vendors/magnific-popup.css" rel="stylesheet">
  <link href="static/assets/css/vendors/materialize.css" rel="stylesheet">
  <link href="static/assets/css/vendors/hamburger-menu.css" rel="stylesheet">
  <link href="static/assets/css/vendors/animate.css" rel="stylesheet">
  <link href="static/assets/css/vendors/animate-extends.css" rel="stylesheet">
  <link href="static/assets/css/vendors/slick-carousel/slick.css" rel="stylesheet">
  <link href="static/assets/css/vendors/slick-carousel/slick-theme.css" rel="stylesheet">
  <link href="static/assets/css/styles.css" rel="stylesheet">
  
</head>


<body >
  <div id="preloader" style="position: fixed; z-index: 10000; background: #fafafa; width: 100%; height: 100%"><img style="opacity: 0.2; position: fixed; top: calc(50% - 50px); left: calc(50% - 50px)" src="static/assets/images/loading.gif" alt="loading"></div>
  <div class="m-application theme--light transition-page" id="app">
    <div class="loading"></div>
    <div class="m-content fresh fresh-var" id="main-wrap">
      <div id="home">
        <div class="main-wrap">
          <!-- #### HEADER ####-->
          <div class="sidenav mobile-nav" id="slide_menu">
            <div class="side-multilv">
              <div class="collection side-multilv">
                <ul class="collapsible expandable">
                  
                  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="/home">home</a></li>
				  
				  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="/about">about</a></li>
				  <li class="collection-item"><a class="sidenav-close waves-effect menu-list" href="/notebook">notebook</a></li>
				  
                  
                </ul>
              </div>
              <div class="dropdown-divider"></div>
              <div class="collection">
                <ul>
                 
                  <!--<li class="collection-item">
                    <a class="sidenav-close waves-effect menu-list" href="/login">logout</a>
                  </li>-->
                </ul>
              </div>
            </div>
          </div>
          <header class="app-bar header" id="header">
            <div class="container">
              <div class="header-content">
                <nav class="nav-menu">
                  <button class="btn-icon waves-effect sidenav-trigger hamburger hamburger--spin show-md-down" id="mobile_menu" type="button" data-target="slide_menu"><span class="hamburger-box"><span class="bar hamburger-inner"></span></span></button>
                  <div class="logo">
                    <a href="#">
                      <span class="logo-main landscape medium"><img src="static/download__1_-removebg-preview.png" alt="logo"/>Ransomware Detection</span>
                    </a>
                  </div>
                  <div class="scrollactive-nav show-lg-up multi-menu scrollnav">
                    <ul class="main-menu">
                      <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="/home">home</a>
                      </li>
					  
					            <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="/about">about</a>
                      </li>
					             <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="/notebook">notebook</a>
                      </li>
					 
                     
                    </ul>
                  </div>
                  <nav class="user-menu">
                   
                    <!--<a class="btn waves-effect primary show-sm-up" href="/login">logout</a>-->
                    <span class="spacer vertical-divider show-lg-up"></span>
                    
                  </nav>
                </nav>
                <div id="container_menu"></div>
              </div>
            </div>
          </header><!-- #### END HEADER ####-->

          <main class="container-wrap">
            <!-- ##### BANNER #####-->
            <section id="banner">
              <div class="banner-slider">
                <div class="banner-wrap">
                  <div class="carousel">
                    <div class="slider-deco" id="slider_deco">
                      <div class="slide">
                        <div class="inner">
                          <div class="deco-wrap">
                            <div class="deco bottom s1">&nbsp;</div>
                            <div class="deco top s1">&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="inner">
                          <div class="deco-wrap">
                            <div class="deco bottom s2">&nbsp;</div>
                            <div class="deco top s2">&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="inner">&nbsp;</div>
                      </div>
                    </div>
                    <div class="slider" id="banner_slider">
                      <div class="slide" id="slide1">
                        <div class="inner">
                         <!-- <div class="img background-banner">
                            <img class="img-2d3d" src="static/assets/images/medical/login_2D@2x.png" data-2d="static/assets" data-3d="static/Ransomware-Detection.jpeg" alt="background" />
                          </div>-->
                          <div class="container">
                            <div class="row">
                              <div class="col-md-7 col-lg-6 px-sm-6 px-0 d-flex align-items-center">
                                <div class="text">
                                  <!--<h4 class="use-text-title">Welcome to Dashboard</h4>-->
                                  <h5 class="use-text-subtitle"><b>DETECTING RANSOMWARE THREATS IN DISK STORAGE </b></h5>
                                  <p>A novel approach to countering ransomware involves bypassing conventional antivirus 
                                    that ransomware often eludes. By encrypting files and effectively restricting users' access 
                                    to their systems and data, ransomware poses a significant threat. A newly proposed 
                                    ransomware detection system operates in virtual machines, gathering data on processor 
                                    and disk I/O activities from the host machine. </p>
                                </div>
                              </div>
                              <div class="col-md-5 col-lg-6">
                                <div class="img">
                                  <img class="img-2d3d" src="static/assets/images/medical/login_2D@2x.png" data-2d="static/assets" data-3d="static/Ransomware-Detection.jpeg" alt="banner 1 3D" />
                                </div>
                                
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                 
                </div>
              </div>
            </section><!-- ##### END BANNER #####-->
            

                        <!-- ##### SPECIALITY #####-->
            <section class="space-top" id="speciality">
              <div class="root">
                <div class="container">
                  <div class="row spacing8">
                    <table>
                      <tr>
                      <th>Storage Attribute</th>
                      <th>Information</th>
                      </tr>
                      <tr>
                        <td> Instructions</td>
                        <td> Total number of fundamental operations executed by processor </td>
                      </tr>
                      <tr>
                        <td> LLC - Stores</td>
                        <td> "Last Level Cache" refers To store number of right operations that occurs in LLC </td>
                      </tr>
                      <tr>
                        <td> L1-icache-load-misses</td>
                        <td> Number of misses that occur in the Level 1 instruction cache (L1 iCache) when attempting to load instructions.</td>
                      </tr>
                      <tr>
                        <td> branch-load-misses</td>
                        <td>Number of times the CPU attempted to load data from memory due to branch instructions and encountered a cache miss. </td>
                      </tr>
                      <tr>
                        <td> node-load-misses</td>
                        <td> Performance metric related to cache misses in a computer system </td>
                      </tr>
                      <tr>
                        <td> rd_req</td>
                        <td> "Read Request" refers to a request made by a component in a computer system to read data from a storage device, such as RAM or a hard drive </td>
                      </tr>
                      <tr>
                        <td> rd_bytes</td>
                        <td> "Read Bytes" refers to metric used in performance monitoring or system analysis to measure the amount of data read from storage by a particular process </td>
                      </tr>
                      <tr>
                        <td> wr_req</td>
                        <td> "Write Request" refers to a write request is a command or signal sent to storage devices to write data to a specific location in the storage medium </td>
                      </tr>
                      <tr>
                        <td> wr_bytes</td>
                        <td> "write bytes" refer to the amount of data that has been written to storage, such as a disk or solid-state drive (SSD), during a specific operation </td>
                      </tr>
                      <tr>
                        <td> flush_operations</td>
                        <td> "Flush Operatios" refer to the act of writing buffered data from a cache</td>
                      </tr>
                      <tr>
                        <td> rd_total_times</td>
                        <td> Total number of read operations performed in a system </td>
                      </tr>
                      <tr>
                        <td>wr_total_times</td>
                        <td> Total number of times data has been written to a storage device </td>
                      </tr>
                      <tr>
                        <td>flush_total_times</td>
                        <td> Total number of times that data has been flushed from a cache or written to permanent storage. </td>
                      </tr>
                    </table>
                    <br>
                    
                    <section class="space-top" id="speciality">
						<h5 class="sub-title">Graphs</h5> 

        <br><br>
       
        <br><br>
          <p>Sample Outcome:</p><br>
				  <img src="static/download.png">
				  <br><br><br>
          <!--<p>Confusion Matrix:</p><br><br>
          <img src="static/download (1).png">
          <br><br><br>-->
				  <p>Accuracy:</p><br><br>
				  <img src="static/download (2).png">
				  <br><br><br>
				  <p>Precision:</p><br><br>
				  <img src="static/download (3).png">
				  <br><br><br>
				  <p>Recall:</p><br><br>
				  <img src="static/download (4).png">
				  <br><br><br><br>
				  <p>F1 Score:</p><br><br>
				  <img src="static/download (5).png">
                  <br>
                  
                  
                
						</div>
					</div>
				  </div>
				</section><!-- ##### END SPECIALITY #####-->
				<br><br><br><br>
			   
			  </main><!-- ##### FOOTER #####-->
			  <footer class="footer-sitemap">
				
				<div class="container mq-sm-down" data-class="fixed-width">
				  <div class="row">
					<div class="col-md-3 pa-lg-4 logo-area">
					  <div class="logo">
						<span class="logo-main landscape medium"><img src="static/download__1_-removebg-preview.png" alt="logo"/>Ransomware Detection</span>
					  </div>
					  
					  <p class="body-2 hidden-sm-down">&copy; CSBS 2024-04</p>
					</div>
					<div class="col-md-6 pa-4">
					  <ul class="show-sm-down collapsible">
						<li class="accordion-content">
						 
						</li>
						<li class="accordion-content">
						  
						</li>
						<li class="accordion-content">
						  <div class="collapsible-header">
							<h6 class="title">Legal</h6><i class="material-icons right arrow">expand_more</i>
						  </div>
						  <div class="collapsible-body">
							<ul>
							  <li><a href="#privacy-policy">Privacy policy</a></li>
							  <li><a href="#terms-of-use">Terms of use</a></li>
							</ul>
						  </div>
						</li>
					  </ul>
					  <div class="row show-md-up justify-content-around">
					   
						
						<div class="col pa-4 site-map-item">
						  <h2 class="title mb-4" style="align:center;"></h2>
						  
						</div>
					  </div>
					</div>
					
            <div class="col-md-3 pa-4">
					  <div class="socmed">
						<a class="btn btn-icon waves-effect"><span class="ion-social-facebook icon"></span></a>
						<a class="btn btn-icon waves-effect"><span class="ion-social-twitter icon"></span></a>
						<a class="btn btn-icon waves-effect"><span class="ion-social-instagram icon"></span></a>
						<a class="btn btn-icon waves-effect"><span class="ion-social-linkedin icon"></span></a>
					  </div>
					  
					  <p class="body-2 mt-5 text-center hidden-md-up">&copy; CSBS 2024-04</p>
					</div>
				  </div>
				</div>
			  </footer><!-- ##### END FOOTER #####-->
	
			 
	<!-- Scripts-->
	  <!-- Put the 3rd/plugins javascript here-->
	  <script src="static/assets/js/vendors/jquery.min.js"></script>
	  <script src="static/assets/js/vendors/bootstrap.min.js"></script>
	  <script src="static/assets/js/vendors/enquire.min.js"></script>
	  <script src="static/assets/js/vendors/jquery.form-validator.min.js"></script>
	  <script src="static/assets/js/vendors/jquery.touchSwipe.min.js"></script>
	  <script src="static/assets/js/vendors/jquery.magnific-popup.min.js"></script>
	  <script src="static/assets/js/vendors/pace.min.js"></script>
	  <script src="static/assets/js/vendors/slick.min.js"></script>
	  <script src="static/assets/js/vendors/wow.min.js"></script>
	  <script src="static/assets/js/vendors/jquery.navScroll.min.js"></script><!-- This assets are not avalaible in npm.js or it has been costumized-->
	  <script src="static/assets/js/vendors/modernizr-2.8.3-respond-1.4.2.min.js"></script>
	  <script src="static/assets/js/vendors/materialize.js"></script>
	  <script src="static/assets/js/scripts.js"></script>
	  <script async="" defer="" src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
	</body>
	
	</html>