<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <meta name="description" content="Nirwana Medical - HTML5 Bootstrap Template">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no"><!-- Favicon-->

  <link rel="apple-touch-icon" sizes="57x57" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="60x60" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="72x72" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="76x76" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="114x114" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="120x120" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="144x144" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="152x152" href="static/download__1_-removebg-preview.png">
  <link rel="apple-touch-icon" sizes="180x180" href="static/download__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="192x192" href="static/download__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="32x32" href="static/download__1_-removebg-preview.png">
  <link rel="icon" type="image/png" sizes="16x16" href="static/download__1_-removebg-preview.png">
  <link rel="manifest" href="static/assets/favicons/manifest.json">
  <!-- PWA primary color-->
  <meta name="theme-color" content="#03ACF2">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato:400,700,900&amp;display=swap">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"><!-- Facebook-->
  <meta property="author" content="nirwana">
  <meta property="og:site_name" content="alexstrap.ux-maestro.com">
  <meta property="og:locale" content="en_US">
  <meta property="og:type" content="website"><!-- Twitter-->
  <meta property="twitter:site" content="nirwana.ux-maestro.com">
  <meta property="twitter:domain" content="nirwana.ux-maestro.com">
  <meta property="twitter:creator" content="nirwana">
  <meta property="twitter:card" content="summary">
  <meta property="twitter:image:src" content="static/download__1_-removebg-preview.png">
  <meta property="og:url" content="nirwana.indisains.com/medical">
  <meta property="og:title" content="Medical">
  <meta property="og:description" content="Nirwana Medical - HTML5 Bootstrap Template">
  <meta name="twitter:site" content="nirwana.indisains.com/medical">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:image" content="/images/logo-medical.png">
  <meta property="og:image" content="/images/logo-medical.png">
  <meta property="og:image:width" content="1200">
  <meta property="og:image:height" content="630">
  <title>Home </title><!-- Styles-->
  <style>
    img {
      border-radius: 50%;
      
    }
    .button{
      background-color: #41E4E7 ;
      border: none;
      color: white;
      padding: 15px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      margin: 4px 2px;
      cursor: pointer;
    }
    .button:hover {
      background-color: #0F6061 ;
      color: white;
    }

    
    


  </style>
  
  <!-- Put the 3rd/plugins css here-->
  <link href="static/assets/css/vendors/normalize.css" rel="stylesheet">
  <link href="static/assets/css/vendors/bootstrap.css" rel="stylesheet">
  <link href="static/assets/css/vendors/magnific-popup.css" rel="stylesheet">
  <link href="static/assets/css/vendors/materialize.css" rel="stylesheet">
  <link href="static/assets/css/vendors/hamburger-menu.css" rel="stylesheet">
  <link href="static/assets/css/vendors/animate.css" rel="stylesheet">
  <link href="static/assets/css/vendors/animate-extends.css" rel="stylesheet">
  <link href="static/assets/css/vendors/slick-carousel/slick.css" rel="stylesheet">
  <link href="static/assets/css/vendors/slick-carousel/slick-theme.css" rel="stylesheet">
  <link href="static/assets/css/styles.css" rel="stylesheet">
</head>

<body>
  <div class="project">
  <div id="preloader" style="position: fixed; z-index: 10000; background: #fafafa; width: 100%; height: 100%"><img style="opacity: 0.2; position: fixed; top: calc(50% - 50px); left: calc(50% - 50px)" src="static/assets/images/loading.gif" alt="loading"></div>
  <div class="m-application theme--light transition-page" id="app">
    <div class="loading"></div>
    <div class="m-content fresh fresh-var" id="main-wrap">
      <div id="home">
        <div class="main-wrap">
          <!-- #### HEADER ####-->
          <div class="sidenav mobile-nav" id="slide_menu">
            <div class="side-multilv">
              
              <div class="dropdown-divider"></div>
              <div class="collection">
                <ul>
                 
                 <!-- <li class="collection-item">
                    <a class="sidenav-close waves-effect menu-list" href="/login">logout</a>
                  </li>-->
                </ul>
              </div>
            </div>
          </div>
          <header class="app-bar header" id="header">
            <div class="container">
              <div class="header-content">
                <nav class="nav-menu">
                  <button class="btn-icon waves-effect sidenav-trigger hamburger hamburger--spin show-md-down" id="mobile_menu" type="button" data-target="slide_menu"><span class="hamburger-box"><span class="bar hamburger-inner"></span></span></button>
                  <div class="logo">
                    <a href="#">
                      <span class="logo-main landscape medium"><img src="static/download__1_-removebg-preview.png" alt="logo"/>Ransomware Detection</span>
                    </a>
                  </div>
                  <div class="scrollactive-nav show-lg-up multi-menu scrollnav">
                    <ul class="main-menu">
                      <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="/home">home</a>
                      </li>
					  
					            <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="/about">about</a>
                      </li>
					             <li>
                        <a class="btn btn-flat anchor-link waves-effect" href="/notebook">notebook</a>
                      </li>
					 
                     
                    </ul>
                  </div>
                  <!--<nav class="user-menu">
                   
                    <a class="btn waves-effect primary show-sm-up" href="/login">logout</a>
                    <span class="spacer vertical-divider show-lg-up"></span>
                    
                  </nav>-->
                </nav>
                <div id="container_menu"></div>
              </div>
            </div>
          </header><!-- #### END HEADER ####-->

          <main class="container-wrap">
            <!-- ##### BANNER #####-->
            <section id="banner">
              <div class="banner-slider">
                <div class="banner-wrap">
                  <div class="carousel">
                    <div class="slider-deco" id="slider_deco">
                      <div class="slide">
                        <div class="inner">
                          <div class="deco-wrap">
                            <div class="deco bottom s1">&nbsp;</div>
                            <div class="deco top s1">&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="inner">
                          <div class="deco-wrap">
                            <div class="deco bottom s2">&nbsp;</div>
                            <div class="deco top s2">&nbsp;</div>
                          </div>
                        </div>
                      </div>
                      <div class="slide">
                        <div class="inner">&nbsp;</div>
                      </div>
                    </div>
                    <div class="slider" id="banner_slider">
                      <div class="slide" id="slide1">
                        <div class="inner">
                          
                          
                          <div class="container">
                            <div class="row">
                              <div class="col-md-7 col-lg-6 px-sm-6 px-0 d-flex align-items-center">
                                <div class="text">
                                  <!--<h4 class="use-text-title">Welcome to Dashboard</h4>-->
                                  <h5 class="use-text-subtitle"><b>Detecting Ransomware Threats In Disk Storage Through Behaviural Aanalysis Using CNN2D And FLASK FRAMEWORK</b></h5>
                                  <p>Ransomware is malware that encrypts files on a target computer or locks the computer to render the target machine and its data unusable. These attacks are often combined with the exfiltration of victims data to compel the victim to pay a ransom or sell the data on the dark web.
                                  </p>
                                </div>
                              </div>
                              <div class="col-md-5 col-lg-6">
                                <div class="img">
                                  <img class="img-2d3d" src="static/Kaseya gets master key to unlock networks.jpeg" data-2d="static/assets" data-3d="static/Ransomware-Detection.jpeg" alt="banner 1 3D" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="slide" id="slide2">
                        <div class="inner">
                          <div class="container">
                            <div class="row">
                              <div class="col-md-7 col-lg-6 px-sm-6 px-0 d-flex align-items-center order-md-last">
                                <div class="text">
                                  
                                  <h5 class="use-text-subtitle">Detecting Ransomware Threats In Disk Storage Through Behaviural Aanalysis Using CNN2D And FLASK FRAMEWORK</h5>
                                  
                                </div>
                              </div>
                              <div class="col-md-5 col-lg-6 order-md-first">
                                <div class="img">
                                  <img class="img-2d3d mq-lg-up" src="static/assets/images/medical/login_2D@2x.png" data-2d="static/assets" data-3d="static/assets/images/medical/banner2_3d@2x.png" alt="banner 2 3D" data-class="float-right mr-sm-12" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div class="slide center-content" id="slide3">
                        <div class="inner">
                          <div class="container max-md">
                            <div class="row justify-content-center">
                              <div class="col-xs-12 px-md-12">
                                <div class="text text-center">
                                  <h4 class="use-text-title">Welcome to Dashboard</h4>
                                  <h5 class="use-text-subtitle">Detection of Ransomware Attacks Using Processor and Disk Usage Data</h5>
                                  
                              </div>
                              <div class="col-12">
                                <div class="img h-banner">
                                  <img class="img-2d3d" src="static/assets/images/medical/The death of remote access VPN.jpeg" data-2d="static/assets" data-3d="static/assets/images/medical/banner3_3d@2x.png" alt="banner 3 3D" />
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>-->
                 
                </div>
              </div>
            </section><!-- ##### END BANNER #####-->

                        <!-- ##### SPECIALITY #####-->
                        <section class="space-top" id="speciality">
           
              <div class="root">
                <div class="container">
                  <div class="row spacing8">
						<h6 class="sub-title"><b><i>Enter Storage Attributes : </i></b></h6> 

        <br><br><br>

  
<form action="/predict" method="post" style="width: 50%;font-size: 1.2em;margin-left: 5px;border-color: black;">
				<div class="container">
					<div class="row">
					  <div class="col-8"> <br>
				  <div class="col-8">
            
				<div class="form-group">
					  <label for="age">Instructions</label>
					  <input class="form-control" type="text" id="age" name="0" required="required">
					</div><br>
				  <div class="form-group">
					<label for="age">LLC-stores</label>
					<input class="form-control" type="text" id="age" name="1" required="required">
				  </div><br>
	
						 
				  <div class="form-group">
					<label for="age">L1-icache-load-misses</label>
					<input class="form-control" type="text" id="age" name="2" required="required">
				  </div><br>
						   
				  <div class="form-group">
					<label for="age">Branch-load-misses</label>
					<input class="form-control" type="text" id="age" name="3" required="required">
				  </div>
				  <br>
								  
					<div class="form-group">
					  <label for="age">Node-load-misses</label>
					  <input class="form-control" type="text" id="age" name="4" required="required">
					</div>
					<br>
				   
					<div class="form-group">
					  <label for="age">Rd_req</label>
					  <input class="form-control" type="text" id="age" name="5" required="required">
					</div>
					<div class="form-group">
					  <label for="age">Rd_bytes</label>
					  <input class="form-control" type="text" id="age" name="6" required="required">
					</div>
					<br>
					<div class="form-group">
					  <label for="age">Wr_req</label>
					  <input class="form-control" type="text" id="age" name="7" required="required">
					</div>
					<br>
				   
					<div class="form-group">
					  <label for="age">Wr_bytes</label>
					  <input class="form-control" type="text" id="age" name="8" required="required">
					</div><br>
					<div class="form-group">
					  <label for="age">Flush_operations</label>
					  <input class="form-control" type="text" id="age" name="9" required="required">
					</div>
	
					<div class="form-group">
						<label for="age">Rd_total_times</label>
						<input class="form-control" type="text" id="age" name="10" required="required">
					  </div><br>
					  <div class="form-group">
						<label for="age">Wr_total_times</label>
						<input class="form-control" type="text" id="age" name="11" required="required">
					  </div>
					  <div class="form-group">
						<label for="age">Flush_total_times</label>
						<input class="form-control" type="text" id="age" name="12" required="required">
					  </div>
	
					<br><br><br>
                <button type="submit" class="button" style="border-radius: 10px;">Predict</button>
            </form>
          <br>
     
		</div>
	</div>
  </div>
</section><!-- ##### END SPECIALITY #####-->
<br><br><br><br>

</main><!-- ##### FOOTER #####-->
<footer class="footer-sitemap">

<div class="container mq-sm-down" data-class="fixed-width">
  <div class="row">
	<div class="col-md-3 pa-lg-4 logo-area">
	  <div class="logo">
		<span class="logo-main landscape medium"><img src="static/download__1_-removebg-preview.png" alt="logo"/>Ransomware Detection</span>
	  </div>
	  
	  <p class="body-2 hidden-sm-down">&copy; CSBS 2024-04</p>
	</div>
	<div class="col-md-6 pa-4">
	  <ul class="show-sm-down collapsible">
		<li class="accordion-content">
		 
		</li>
		<li class="accordion-content">
		  
		</li>
		<li class="accordion-content">
		  
		</li>
	  </ul>
	  <div class="row show-md-up justify-content-around">
	   
		
		<div class="col pa-4 site-map-item">
		  <h6 class="title mb-4"></h6>
		  <!--<ul>
			<li><a href="#privacy-policy">Privacy policy</a></li>
			<li><a href="#terms-of-use">Terms of use</a></li>
		  </ul>-->
		</div>
	  </div>
	</div>
	<div class="col-md-3 pa-4">
	  <div class="socmed">
		<a class="btn btn-icon waves-effect"><span class="ion-social-facebook icon"></span></a>
		<a class="btn btn-icon waves-effect"><span class="ion-social-twitter icon"></span></a>
		<a class="btn btn-icon waves-effect"><span class="ion-social-instagram icon"></span></a>
		<a class="btn btn-icon waves-effect"><span class="ion-social-linkedin icon"></span></a>
	  </div>
	  
	  <p class="body-2 mt-5 text-center hidden-md-up">&copy; CSBS 2024-04</p>
	</div>
  </div>
</div>
</div>
</footer><!-- ##### END FOOTER #####-->


<!-- Scripts-->
<!-- Put the 3rd/plugins javascript here-->
<script src="static/assets/js/vendors/jquery.min.js"></script>
<script src="static/assets/js/vendors/bootstrap.min.js"></script>
<script src="static/assets/js/vendors/enquire.min.js"></script>
<script src="static/assets/js/vendors/jquery.form-validator.min.js"></script>
<script src="static/assets/js/vendors/jquery.touchSwipe.min.js"></script>
<script src="static/assets/js/vendors/jquery.magnific-popup.min.js"></script>
<script src="static/assets/js/vendors/pace.min.js"></script>
<script src="static/assets/js/vendors/slick.min.js"></script>
<script src="static/assets/js/vendors/wow.min.js"></script>
<script src="static/assets/js/vendors/jquery.navScroll.min.js"></script><!-- This assets are not avalaible in npm.js or it has been costumized-->
<script src="static/assets/js/vendors/modernizr-2.8.3-respond-1.4.2.min.js"></script>
<script src="static/assets/js/vendors/materialize.js"></script>
<script src="static/assets/js/scripts.js"></script>
<script async="" defer="" src="https://maps.googleapis.com/maps/api/js?callback=initMap"></script>
</body>

</html>